<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Tooplate">
  <title>Mind Matrix - Home</title>
  <link href="css/dashboard.css" rel="stylesheet">
  <script defer src="js/dashboard.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-icons.css" rel="stylesheet">
  <link href="css/magnific-popup.css" rel="stylesheet">
  <link href="css/tooplate-waso-strategy.css" rel="stylesheet">
  <link href="css/signup.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-white shadow-lg">
    <div class="container">
      <a href="./" class="navbar-brand">Mind  <span class="text-danger">Matrix</span></a>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div id="assignment-list" class="col-6"></div>
      <div id="gpt-api-result" class="col-6">
        <p>
          Based on the due dates provided, here's a suggestion on how to organize your time:

          March 26:
          
          Spend 30 minutes reviewing the Chemistry Honors handout for HW 8.1.
          March 27:
          
          Complete and submit HW 8.1 for Chemistry Honors before the deadline at 2:20 PM.
          March 28:
          
          In the morning, spend 15 minutes submitting the Man or Monster Journal for ASB Communications before the deadline at 12:15 PM.
          Attend the Advisory-P9-Mirassou group work session, but try to do any necessary preparation beforehand so that you can use your time efficiently.
          Spend the remaining time working on the Accumulation Practice for AP Calculus AB Kennedy Room 1, which is due at 10:00 PM.
        </p>


      </div>
    </div>
  </div>
  <div class="lds-roller"><div></div><div></div><div></div><div></div>
</body>
</html>