<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/dashboard.css" rel="stylesheet">
    <script src="js/input.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-white shadow-lg">
        <div class="container">
            <a href="./" class="navbar-brand">Mind <span class="text-danger">Matrix</span></a>
        </div>
    </nav>
    <div class="container">
        <input type="text" id="input-bar" placeholder="Enter your canvas token">
        <button id="continue-btn">Continue</button>
    </div>
    <script src="script.js"></script>
</body>

</html>